.card {
  display: flex;
  padding: 15px;
  border-radius: 8px;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__icon {
    & img {
      display: block;
      width: 20px;
    }
  }

  &__text {
    margin: 0;
  }

  &__unchecked {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #fff;
  }
}