.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__button {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: #666;
    cursor: pointer;

    &.active {
      color: #6558f5;
    }
  }
}