@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  line-height: 1rem !important;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper-container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background: rgb(252,253,254);
  background: linear-gradient(45deg, rgba(252,253,254,1) 0%, rgba(148,195,233,1) 100%);

  @media screen and (max-width: 1999px) {
    max-width: 600px;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px 30px 20px;
  height: 80%;

  &__heading {
    text-align: center;
  }

  &__btn {
    align-self: center;
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #6558f5;
  }
}

.special-content {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__title {
    align-self: center;
    font-size: 36px;
    margin-bottom: 64px;
  }

  &__text {
    margin-bottom: 64px;
  }

  &__btn {
    align-self: center;
    display: block;
    text-decoration: none;
    background-color: #6558f5;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 3px;
  }
}

.next-quest {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 36px;
    margin-bottom: 64px;
  }

  &__btn {
    display: block;
    text-decoration: none;
    background-color: #6558f5;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 3px;
  }
}

.stages {
  padding: 10px;

  &__list {
    padding: 5px;
  }
}

.help {
  padding: 20px;
  padding-top: 64px;
  margin-bottom: 64px;

  &__title {
    margin-bottom: 64px;
  }

  &__disconect {
    margin-top: 64px;
  }
}